@import "tailwindcss";
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

body {
}
.container {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 76%;
  min-width: "950px";
}
@media (max-width: 1300px) {
  .container {
    width: 94%;
  }
}
@media (max-width: 750px) {
  .container {
    width: 94%;
  }
}
@media (max-width: 600px) {
  .container {
    width: 98%;
  }
}

