@import "tailwindcss";
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inlin94{
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-m94o);
}
@media (prefers-K-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
}
.container {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 68%;
}
@media (max-width: 900px) {
  .container {
    width: 80%;
  }
}
@media (max-width: 750px) {
  .container {
    width: 86%;
  }
}
@media (max-width: 600px) {
  .container {
    width: 94%;
  }
}
